.header{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  }
  
  .header p {
      cursor: pointer;
      display: inline;
      margin: 10px;
  }
  
  .footer{
    background-color: #333;
    color: #fff; 
    padding: 20px;
    text-align: center; 
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .home table{
    margin: auto;
    border-collapse: collapse; 
    margin-top: 20px; 
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .home tr, td {
    
    text-align: center;
    cursor: pointer;
  }
  
  .home tr {
    background-color: #f2f2f2;
  }
  .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .detail table {

    border-collapse: collapse;
    width: 100%; 
  }
  .detail th, td {
    border: 1px solid #b95252;
    padding: 10px;
    text-align: center;
    width: 200px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
